<div class="jumbotron">
	<div class="container">
    	<h1>
    		About us
		</h1>
		<p>
			Hi! My name is David, and it seems like you've tumbled onto my site! Hello bnut!
		</p>
		<p> Twipper was a class project from Avidest's "Build Twitter In A Weekend" course, with support from the incubator
			"Lohtus Labs." This site was made with Bootstrap, hosted on Heroku. </p>
  	</div>
</div>